.control-group {
    margin-bottom:10px;
}

.centered {
    text-align: center;
}

.requester_fields {
  display: none;
}

select {
  display: block;
  border: 1px solid #CCC; 
}

label.radio {
  padding-bottom:5px;
}

div.spinner
{
    display: none;
    width:100px;
    height: 100px;
    position: absolute;
    top: 40%;
    left: 50%;
    background:app-asset-url("spinner.gif") no-repeat center center;
    text-align:center;
    padding:10px;
    margin-left: -50px;
    margin-top: -50px;
    z-index:2;
    overflow: auto;
}